
header {
    background-image: url("https://th.bing.com/th/id/R.fabf82f1ba1fbf175c617bacb44d797f?rik=u9aSAiatdC0k7Q&riu=http%3A%2F%2Fiwallpapers2.free.fr%2Fimages%2FPhotographie%2FVintage%2FTexture_-_fond_noir_-_1920x1080.jpg&ehk=mQIvvmDGceoiEN3dzJoseoV7BI%2B%2BfnIhszD3DB1N0Io%3D&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100px; 
    display: flex;
    justify-content: left ;
    align-items: left;
    border: right 10px;


    margin: 0;
    padding: 10px 0; 
    width: 100%;

    color : rgba(243, 243, 243, 0.468);
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 220, 190) ;
}

