
header {
    background-image: url("https://th.bing.com/th/id/R.fabf82f1ba1fbf175c617bacb44d797f?rik=u9aSAiatdC0k7Q&riu=http%3A%2F%2Fiwallpapers2.free.fr%2Fimages%2FPhotographie%2FVintage%2FTexture_-_fond_noir_-_1920x1080.jpg&ehk=mQIvvmDGceoiEN3dzJoseoV7BI%2B%2BfnIhszD3DB1N0Io%3D&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100px; 
    display: flex;
    justify-content: left;
    align-items: left;
    border-right: 10px solid #000;
    margin: 0;
    padding: 10px 0;
    width: 100%;
    color: rgb(255, 255, 255);
    opacity: 1;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(220, 220, 190);
}

@media (max-width: 768px) {
    header {
        height: 80px; 
        padding: 5px 0; 
        justify-content: center; 
        border-right: none; 
        background-color: rgba(220, 220, 190, 0.8); /
    }

    
    header img {
        width: 50px; 
    }
}