
header {
    background-image: url("https://th.bing.com/th/id/R.fabf82f1ba1fbf175c617bacb44d797f?rik=u9aSAiatdC0k7Q&riu=http%3a%2f%2fiwallpapers2.free.fr%2fimages%2fPhotographie%2fVintage%2fTexture_-_fond_noir_-_1920x1080.jpg&ehk=mQIvvmDGceoiEN3dzJoseoV7BI%2b%2bfnIhszD3DB1N0Io%3d&risl=&pid=ImgRaw&r=0");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    height: 100px; /* Hauteur*/
    display: flex;
    margin:-15px ;
    justify-content: left ;
    align-items: left;
    
    color : white;
    opacity: 1;
    
    justify-content: space-between;
    align-items: center;
    padding: 10px;}
    h1{
      text-align: center;
      font-size: 50px;
       color : rgb(0, 0, 0);
       justify-content: space-between;
       align-items: center;
    
    }
    

      
    .ImageP{
      display: flex;
      justify-content: center;
      align-self: center;
      
      
    }



    h2{color: rgb(48, 219, 224);text-align: center;
      .container {
        text-align: left;
        font-size: 30px;
         color : rgb(255, 255, 255);
         justify-content: space-between;
         align-items: center;
      }
   
    }

 body{ 
 
    background-image: url("https://th.bing.com/th/id/OIP.9YeCvftJo70EyV0BZ27P6AHaE8?rs=1&pid=ImgDetMain");
      background-repeat: no-repeat;
      background-size: cover;
      background-attachment: fixed;


 }



    
