
header  {}
  
body{
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
  font-family: 'Roboto', sans-serif;
  background-color: #dcddd6;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;

   
background-image: url("https://png.pngtree.com/thumb_back/fw800/background/20190221/ourmid/pngtree-tech-line-background-simple-technology-business-image_22714.jpg");
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;


}    
    

h1{
  
  text-align: center;
  font-size: 60px;
   color : rgb(75, 27, 186);
   justify-content: space-between;
   align-items: center;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   display: block
}

h2{
  text-align: center;
  font-size: 30px;
   color : rgb(236, 15, 244);
   justify-content: space-between;
   align-items: center;
   justify-content: space-between;
   align-items: center;
   padding: 10px;
   display: block
}

    
  
    

   





    
