body {
  background: linear-gradient(
      rgba(30, 1, 6, 0.5), 
      rgb(206, 248, 81)
  );
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
  height: fit-content;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

header {
  background: rgba(0, 0, 0, 0.6); /* Fond sombre pour lisibilité */
  padding: 20px 0;
  width: 100%;
}

nav ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between; /* Aligner à gauche, au centre, à droite */
  padding: 0;
  margin: 0;
  width: 80%;
  margin: 0 auto; /* Centrer le conteneur */
}

nav ul b a {
  text-decoration: none;
  color: white;
}

button {
  padding: 10px 20px;
  margin: 5px;
  font-size: 16px;
  border: none;
  background-color: #3d4e3d;
  color: white;
  cursor: pointer;
}

button:hover {
  background-color: #45a049; /* Changer la couleur du bouton au survol */
}

h1 {
  text-align: center;
  color: #ffffff;
  font-size: 50px;
  font-style: italic;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 10vh;
}

h2 {
  text-align: center;
  color: #ffffff;
}

h2 img {
  margin: 10px;
}
